% The next option is required so we can use lager.
{erl_opts, [
    debug_info,
    warnings_as_errors,
    {parse_transform, lager_transform}
    ]}.

{lib_dirs,["deps"]}.
{deps, [
    {'lager', ".*", {
        git, "git://github.com/basho/lager.git", "master"}
    },
    {'espec', ".*", {
        git, "git://github.com/lucaspiller/espec.git", "master"}
    },
    {'eredis', ".*", {
        git, "git://github.com/wooga/eredis.git", "master"}
    },
    {'cowboy', ".*", {
        git, "git://github.com/extend/cowboy.git", "master"}
    },
    {'bullet', ".*", {
        git, "git://github.com/extend/bullet.git", "master"}
    }
    ]}.
% vim: set filetype=erlang:
